@model VideoRentalAPP.Models.Movie

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movie Description</h2>
<h4><b>Name</b> : @Model.Name</h4>
<h4><b>Genre</b> : @Model.Genre.Name</h4>
<h4><b>Release Date</b> : @Model.ReleaseDate.ToLongDateString()</h4>
<h4><b>Date Added</b> : @Model.DateAdded.Date.ToLongDateString()</h4>
<h4><b>Stock Quantity</b> : @Model.NumberInStock</h4>

