@model VideoRentalAPP.ViewModels.MovieFormViewModel

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "Movie", FormMethod.Post, new { id = "CreateMovieForm", @class = "form-horizontal" }))
{
    <div class="form-group">

        <label for="Movie_Name" class="col-4">Movie Name</label>

        <div class="input-group col-4">
            <div class="input-group">
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Enter Name" })
            </div>
            <div class="input-group">
                @Html.ValidationMessageFor(x => x.Name, null, new { @class = "text-danger" })
            </div>


        </div>
    </div>

    <div class="form-group">
        <label for="ReleaseDate" class="col-4">Release Date</label>

        <div class="input-group col-4">
            <div class="input-group">
                @Html.TextBoxFor(x => x.ReleaseDate, null,
                    new
                    {
                        @class = "form-control datetimepicker-input",
                        placeholder = "Enter Date",
                        data_toggle = "datetimepicker",
                        data_target = "#ReleaseDate",
                        autocomplete = "off"
                    })
            </div>
            <div class="input-group">
                @Html.ValidationMessageFor(x => x.ReleaseDate, null, new { @class = "text-danger" })
            </div>


            <script type="text/javascript">
                $(function () {
                    $('#ReleaseDate').datetimepicke();
                });
            </script>
        </div>
    </div>

    <div class="form-group">

        <label for="Movie_GenreId" class="col-4">Genre</label>

        <div class="input-group col-4">
            <div class="input-group">
                @Html.DropDownListFor(x => x.GenreId,
                    new SelectList(Model.Genres, "Id", "Name"), "---SELECT----",
                    new {@class = "form-control"})
            </div>
            <div class="input-group">
                @Html.ValidationMessageFor(x => x.GenreId, null, new { @class = "text-danger" })
            </div>


        </div>
    </div>

    <div class="form-group">

        <label for="Movie_NumberInStock" class="col-4">Number of Stock</label>

        <div class="input-group col-4">
            <div class="input-group">
                @Html.TextBoxFor(x => x.NumberInStock, new { @class = "form-control", placeholder = "Enter Number of Stock" })
            </div>
            <div class="input-group">
                @Html.ValidationMessageFor(x => x.NumberInStock, null, new { @class = "text-danger" })
            </div>


        </div>
    </div>


    @Html.HiddenFor(c => c.Id);
    @Html.AntiForgeryToken()

    <div class="form-group col-4">
        <button type="submit" class="btn btn-success">Save</button>
    </div>

    if (ViewBag.Message != null)
    {
        <div class="form-group col-4">
            <label class="form-group input-group alert alert-info">@ViewBag.Message</label>
            <br />
        </div>
    }
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}



@*     <div class="form-check"> *@
@*         <input type="checkbox" class="form-check-input" id="exampleCheck1"> *@
@*         <label class="form-check-label" for="exampleCheck1">Check me out</label> *@
@*     </div> *@


@* <div class="container"> *@
@*     <div class="row"> *@
@*         <div class="col-sm-6"> *@
@*             <input type="text" class="form-control datetimepicker-input" id="datetimepicker5" data-toggle="datetimepicker" data-target="#datetimepicker5" /> *@
@*         </div> *@
@*         <script type="text/javascript"> *@
@*             $(function () { *@
@*                 $('#datetimepicker5').datetimepicker(); *@
@*             }); *@
@*         </script> *@
@*     </div> *@
@* </div> *@